
@font-face {
  font-family: 'ARBERKLEY';
  src: url('ARBERKLEY.eot?#iefix') format('embedded-opentype'),  url('ARBERKLEY.woff') format('woff'), url('ARBERKLEY.ttf')  format('truetype'), url('ARBERKLEY.svg#ARBERKLEY') format('svg');
  font-weight: normal;
  font-style: normal;
}
